<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TBA uploader</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <div class="container hidden" id="main">
      <h2>TBA uploader</h2>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="event-setup-tab" data-toggle="tab" href="#event-setup" role="tab" aria-controls="event-setup" aria-selected="true">Event setup</a>
        </li>
        <li class="nav-item" v-if="eventSelected">
          <a class="nav-link" id="awards-tab" data-toggle="tab" href="#awards" role="tab" aria-controls="awards" aria-selected="false">Awards</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="event-setup" role="tabpanel" aria-labelledby="event-setup-tab">
          <div class="form-inline" v-if="!inAddEvent">
            <label>
              Event:
              <select class="form-control" v-model="selectedEvent">
                <option value="" disabled selected>Select an event</option>
                <option v-for="event in events" :value="event">{{event}}</option>
                <option value="_add">Add an event...</option>
              </select>
              <button class="btn btn-success ml-auto" @click="selectedEvent='_add'">Add an event</button>
              <button class="btn btn-danger ml-auto" :disabled="!eventSelected" @click="deleteSelectedEvent">Delete this event</button>
            </label>
          </div>
          <div v-if="inAddEvent">
            <h3>Add event</h3>
            <label>
              Event code:
              <input class="form-control" type="text" v-model="addEventUI.event">
            </label>
            <label class="row col">
              Auth ID:
              <input class="form-control" :type="authInputType" v-model="addEventUI.auth">
            </label>
            <label class="row col">
              Auth secret:
              <input class="form-control" :type="authInputType" v-model="addEventUI.secret">
            </label>
            <div>
              <label>
                <input type="checkbox" v-model="addEventUI.showAuth">
                Show auth parameters
              </label>
            </div>
            <div>
              <button class="btn btn-danger" @click="cancelAddEvent">Cancel</button>
              <button class="btn btn-success" @click="addEvent" :disabled="!canAddEvent">Add</button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="awards-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>

    </div>

    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
