<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TBA uploader</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <div class="container hidden" id="main">
      <div class="float-right">{{version}}</div>
      <h2>TBA uploader<span v-if="eventSelected"> - {{selectedEvent}}</span></h2>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="event-setup-tab" data-toggle="tab" href="#event-setup" role="tab" aria-controls="event-setup" aria-selected="true">Event setup</a>
        </li>
        <li class="nav-item" v-if="eventSelected">
          <a class="nav-link" id="match-play-tab" data-toggle="tab" href="#match-play" role="tab" aria-controls="match-play" aria-selected="false">Match play</a>
        </li>
        <li class="nav-item" v-if="eventSelected">
          <a class="nav-link" id="match-videos-tab" data-toggle="tab" href="#match-videos" role="tab" aria-controls="match-videos" aria-selected="false">Match videos</a>
        </li>
        <li class="nav-item" v-if="eventSelected">
          <a class="nav-link" id="awards-tab" data-toggle="tab" href="#awards" role="tab" aria-controls="awards" aria-selected="false">Awards</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="true">Options</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="true">Help</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="event-setup" role="tabpanel" aria-labelledby="event-setup-tab">
          <div class="form-inline" v-if="!inAddEvent">
            <label>
              Event:
              <select class="form-control" v-model="selectedEvent">
                <option value="" disabled selected>Select an event</option>
                <option v-for="event in events" :value="event">{{event}}</option>
                <option value="_add">Add an event...</option>
              </select>
              <button class="btn btn-success ml-auto" @click="selectedEvent='_add'">Add an event</button>
              <button class="btn btn-info ml-auto" :disabled="!eventSelected" @click="editSelectedEvent">Edit this event</button>
              <button class="btn btn-danger ml-auto" :disabled="!eventSelected" @click="deleteSelectedEvent">Delete this event</button>
            </label>
          </div>
          <div v-if="!inAddEvent">
            <div v-if="tbaEventData.name">Event name: {{tbaEventData.name}} ({{tbaEventData.year}})</div>
            <hr>
            <div v-if="tbaReadError" class="alert alert-danger">
              <span class="raw-message">{{tbaReadError}}</span>
              <button @click="tbaReadError=''" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <label class="row col">
              Read API key (<a href="https://www.thebluealliance.com/account" target="_blank">create a key</a>&nbsp;if needed)
              <input class="form-control" :type="authInputType" v-model="readApiKey">
            </label>
            <div>
              <label>
                <input type="checkbox" v-model="addEventUI.showAuth">
                Show key
              </label>
            </div>
            <div>
              <button class="btn btn-success" @click="fetchEventData">Fetch event data from TBA</button>
            </div>
          </div>
          <div v-if="inAddEvent">
            <h3>Add event</h3>
            <label>
              Event code:
              <input class="form-control" type="text" v-model="addEventUI.event">
              <span v-if="addEventUI.event.length >= 4 && !addEventIsValidYear" class="text-danger">Invalid year<span>
            </label>
            <label class="row col">
              Auth ID:
              <input class="form-control" :type="authInputType" v-model="addEventUI.auth">
            </label>
            <label class="row col">
              Auth secret:
              <input class="form-control" :type="authInputType" v-model="addEventUI.secret">
            </label>
            <div>
              <label>
                <input type="checkbox" v-model="addEventUI.showAuth">
                Show auth parameters
              </label>
            </div>
            <div>
              <button class="btn btn-danger" @click="cancelAddEvent">Cancel</button>
              <button class="btn btn-success" @click="addEvent" :disabled="!canAddEvent">Add</button>
            </div>
          </div>
          <div v-if="isEventSelected">
            <hr>

            <div>
              <h3>Team remappings</h3>

              <div class="alert alert-danger" v-if="remapError">
                <span class="raw-message">{{remapError}}</span>
                <button @click="remapError=''" type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <ul>
                <li v-for="(remap, i) in eventExtras[selectedEvent].remap_teams">
                  <form class="form-inline">
                    <input v-model="remap.fms" class="form-control"> &rarr;
                    <input v-model="remap.tba" class="form-control">
                    <button @click="removeTeamRemap(i)" type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </form>
                </li>
              </ul>

              <button class="btn btn-success" @click="addTeamRemap">Add</button>
              <button class="btn btn-success" @click="uploadTeamRemap" v-if="eventExtras[selectedEvent].remap_teams.length">Upload</button>
              <button v-else class="btn btn-warning" @click="uploadTeamRemap">Remove all remappings from TBA</button>
              <div>Note: any changes here may not be reflected quickly in data that is already uploaded to TBA (e.g. match schedules) unless they are uploaded again.</div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="match-play" role="tabpanel" aria-labelledby="match-play-tab">
          <div class="form-inline">
            <select class="form-control" v-model="matchLevel">
              <option value="0" v-if="uiOptions.showAllLevels">Test</option>
              <option value="1" v-if="uiOptions.showAllLevels">Practice</option>
              <option value="2">Qualification</option>
              <option value="3">Playoff</option>
            </select>
            <button class="btn btn-success" @click="fetchMatches(false)" :disabled="inMatchRequest">Fetch new match(es)</button>
            <button class="btn btn-danger" @click="inMatchAdvanced = !inMatchAdvanced">Advanced options</button>
            <button class="btn btn-info ml-auto" @click="uploadRankings" :disabled="inUploadRankings" v-if="matchLevel == 2">Upload rankings</button>
          </div>
          <div><span class="warning">Warning:</span> only click the above buttons <strong>soon after</strong> posting a score</div>
          <div class="alert alert-danger" v-if="rankingsError">
            Rankings: <span class="raw-message">{{rankingsError}}</span>
            <button @click="rankingsError=''" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div v-if="inMatchAdvanced">
            <hr>
            <h3>Advanced options <button class="btn btn-outline-danger btn-sm" @click.prevent="inMatchAdvanced = false">Close</button></h3>
            <div class="form-inline mb-2">
              <label>
                Match ID (Match-Play):
                <input class="form-control" v-model="advSelectedMatch" placeholder="M-P" size="5">
              </label>
              <button class="btn btn-warning" @click="purgeAdvSelectedMatch" :disabled="inMatchRequest">Purge</button>
              <button class="btn btn-warning" @click="markAdvSelectedMatchUploaded" :disabled="inMatchRequest">Mark as uploaded</button>
              <span class="warning">{{advMatchError}}</span>
            </div>
            <div>
              <button class="btn btn-danger" @click="fetchMatches(true)" :disabled="inMatchRequest">Purge and re-fetch all matches</button>
            </div>
            <hr>
          </div>
          <div class="alert alert-danger raw-message" v-if="matchError">{{matchError}}</div>
          <div v-if="matchSummaries.length">
            <h3>Matches to upload ({{matchSummaries.length}})</h3>
            <button class="btn btn-success mb-2" @click="uploadMatches" :disabled="inMatchRequest">Upload scores</button>
            <button class="btn btn-warning mb-2" @click="refetchMatches" :disabled="inMatchRequest">Re-fetch scores</button>
            <div class="alert alert-danger" v-if="fetchedScorelessMatches">
              One or more matches below appear to have been fetched before scores were posted (all points are 0). Click "Re-fetch scores" to try again (wait for scores to be posted first). If the scores are correct, click "Post scores".
            </div>
            <div class="row">
              <div v-for="match in matchSummaries" class="col-md-6 col-lg-4">
                <table class="table table-sm score" @click="showEditMatch(match)">
                  <tbody>
                    <tr>
                      <td>{{match.id}}</td>
                      <td :class="match.classes[match.teams.red[0]]"><span>{{match.teams.red[0]}}</span></td>
                      <td :class="match.classes[match.teams.red[1]]"><span>{{match.teams.red[1]}}</span></td>
                      <td :class="match.classes[match.teams.red[2]]"><span>{{match.teams.red[2]}}</span></td>
                      <td class="red score">{{match.score_summary.red}}</td>
                    </tr>
                    <tr>
                      <td>{{match.code}}</td>
                      <td :class="match.classes[match.teams.blue[0]]"><span>{{match.teams.blue[0]}}</span></td>
                      <td :class="match.classes[match.teams.blue[1]]"><span>{{match.teams.blue[1]}}</span></td>
                      <td :class="match.classes[match.teams.blue[2]]"><span>{{match.teams.blue[2]}}</span></td>
                      <td class="blue score">{{match.score_summary.blue}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- col -->
            </div> <!-- row -->
          </div>
        </div>

        <div class="tab-pane fade" id="match-videos" role="tabpanel" aria-labelledby="match-videos-tab">
          <div>
            <button class="btn btn-success" @click="fetchVideos" :disabled="inVideoRequest">Fetch data from TBA</button>
            <button class="btn btn-success" @click="uploadVideos" :disabled="inVideoRequest">Upload data to TBA</button>
          </div>
          <div><span class="warning">Warning:</span> anything entered in this tab will not be saved locally. You will have to upload all data here to TBA before closing this window.</div>
          <div>Videos cannot be removed once they are uploaded.</div>

          <div class="alert alert-danger" v-if="videoError">
            <span class="raw-message">{{videoError}}</span>
            <button @click="videoError=''" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <label>
            <input type="checkbox" v-model="showExistingVideos">
            Show matches that already have videos
          </label>

          <ul>
            <li v-for="[key, video] in getSortedVideos()">
              <div class="form-inline">
                <label>
                  {{key}}:
                  <input class="form-control" v-model="video.current" @blur="cleanVideoUrls">
                </label>
              </div>
            </li>
          </ul>
        </div>

        <div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="awards-tab">
          <table class="table">
            <thead>
              <tr>
                <th>Award Name</th>
                <th>Team (recommended)</th>
                <th>Person (optional)</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="award in awards[selectedEvent]" :key="award.id">
                <td>
                  <input class="form-control" title="Award Name" placeholder="Award Name" v-model="award.name" @blur="saveAwards">
                </td>
                <td>
                  <input class="form-control" type="number" title="Team" placeholder="Team" v-model="award.team" @blur="saveAwards">
                </td>
                <td>
                  <input class="form-control" title="Person" placeholder="Person" v-model="award.person" @blur="saveAwards">
                </td>
                <td>
                  <button class="btn btn-info" @click="duplicateAward(award)" title="Create a new award with the same name">Duplicate</button>
                  <button class="btn btn-danger" @click="clearAward(award)">Clear</button>
                  <button class="btn btn-danger" @click="deleteAward(award)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-success" @click="addAward">Add award</button>
          <button class="btn btn-success" @click="fetchAutomaticAwards">Auto-detect winners/finalists</button>
          <hr>
          <button class="btn btn-success" @click="uploadAwards" :disabled="inAwardRequest">Upload all awards</button>
          <span>{{awardStatus}}</span>
        </div>

        <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
          <h2>UI options</h2>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <label>
                <input type="checkbox" v-model="uiOptions.showAllLevels">
                Show hidden tournament levels (Practice/Test)
              </label>
            </div>
          </div>
          <h2>FMS options</h2>
          <div class="row mb-2">
            <label class="col-sm-12 col-md-8">
              Server:
              <input class="form-control" v-model="fmsConfig.server">
            </label>
            <label class="col-sm-12 col-md-8">
              Data folder:
              <input class="form-control" v-model="fmsConfig.data_folder">
            </label>
            <div class="col-sm-12">
              <button class="btn btn-success" @click="saveFMSConfig">Save</button>
              <button class="btn btn-danger" @click="resetFMSConfig">Reset</button>
            </div>
          </div>
          <div class="alert alert-danger raw-message" v-if="fmsConfigError">{{fmsConfigError}}</div>
        </div>

        <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
          <div v-html="helpHTML"></div>
        </div>

      </div> <!-- tabs -->

      <div class="modal fade" id="match-edit-modal" tabindex="-1" role="dialog" aria-labelledby="match-edit-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" v-if="inEditMatch">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit match: {{matchEditing.code}} ({{matchEditing.id}})</h5>
              <button type="button" class="close" @click="hideEditMatch" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger raw-message" v-if="matchEditError">{{matchEditError}}</div>
              <table class="table match-edit">
                <thead>
                  <tr>
                    <th>Red</th>
                    <th>Blue</th>
                  </tr>
                </thead>
                <tbody v-if="matchLevel != 3">
                  <tr v-for="i in 3">
                    <td class="red">
                      <h6>{{matchEditData.teams.red[i-1].team}}</h6>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" v-model="matchEditData.teams.red[i-1].dq">
                          DQ (Red Card)
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" v-model="matchEditData.teams.red[i-1].surrogate">
                          Surrogate
                        </label>
                      </div>
                    </td>
                    <td class="blue">
                      <h6>{{matchEditData.teams.blue[i-1].team}}</h6>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" v-model="matchEditData.teams.blue[i-1].dq">
                          DQ (Red Card)
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" v-model="matchEditData.teams.blue[i-1].surrogate">
                          Surrogate
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr v-if="eventYear == 2018">
                    <td class="red">
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.red.invert_auto">Force auto RP {{matchEditData.text.red.auto_rp}}</label>
                      </div>
                    </td>
                    <td class="blue">
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.blue.invert_auto">Force auto RP {{matchEditData.text.blue.auto_rp}}</label>
                      </div>
                    </td>
                  </tr>
                  <tr v-if="eventYear == 2019">
                    <td class="red">
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.red.add_rp_rocket">Give rocket RP</label>
                      </div>
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.red.add_rp_hab_climb">Give HAB climb RP</label>
                      </div>
                    </td>
                    <td class="blue">
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.blue.add_rp_rocket">Give rocket RP</label>
                      </div>
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.blue.add_rp_hab_climb">Give HAB climb RP</label>
                      </div>
                    </td>
                  </tr>
                </tbody>

                <tbody v-if="matchLevel == 3">
                  <tr>
                    <td class="red">
                      <h6>{{matchEditData.teams.red[0].team}} &bull; {{matchEditData.teams.red[1].team}} &bull; {{matchEditData.teams.red[2].team}}</h6>
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.red.dq">DQ (Red Card)</label>
                      </div>
                    </td>
                    <td class="blue">
                      <h6>{{matchEditData.teams.blue[0].team}} &bull; {{matchEditData.teams.blue[1].team}} &bull; {{matchEditData.teams.blue[2].team}}</h6>
                      <div class="form-check">
                        <label><input type="checkbox" class="form-check-input" v-model="matchEditData.flags.blue.dq">DQ (Red Card)</label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="hideEditMatch">Cancel</button>
              <button type="button" class="btn btn-primary" @click="saveEditMatch">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="showdown.min.js"></script>
    <script type="text/javascript" src="/js/version.js"></script>
    <script type="text/javascript" src="/js/fms_config.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
